Java/.classpath
Java/.settings/org.eclipse.jdt.core.prefs
Java/bin/Abonne.class
Java/bin/Abonne.java.bak
Java/bin/Administrateur.class
Java/bin/Administrateur.java.bak
Java/bin/Adresse.class
Java/bin/Adresse.java.bak
Java/bin/Bar.class
Java/bin/Bar.java.bak
Java/bin/Catalogue.class
*.class
*.bak
Java/.settings/org.eclipse.jdt.core.prefs
Java/.settings/org.eclipse.jdt.core.prefs
Java/.classpath
Java/.classpath
